/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #1e1e1e;
  --primary-color: #686931;
  --secondary-color: #b49b2c;
}

body {
  background-color: #b49b2c40;
}
nav {
  font-family: 'Jura';
  font-weight: bold;
  font-size: 25px;
}

h1 {
  font-family: 'Josefin Slab';
  font-weight: bold;
  font-size: 85px;
}
h2 {
  font-family: 'Jura';
}
ul {
  list-style: none;
  font-family: 'Jura';
}
.text-brand {
  color: #686931; /* substitua pelo seu código de cor */
}
img {
  width: 760px;
}
.box {
  padding: 40px 0px;
  --b: 10px; /* thickness of the border */
  --c: black; /* color of the border */
  --w: 50px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;

  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}
.section-2 {
  height: 570px;
}
button{
  font-family: 'Jura';
  font-weight: bold;
  font-size: 25px;
}